/*SLIDER*/

.img1contacto {
  max-height: 400px;
  overflow: hidden;
  width: 100vw;
}

.imagencontacto {
  width: 100vw;
  background-size: cover;
  background-position: center;
  align-items: center;
  z-index: 1;
}

.seccion2contacto {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(233, 233, 233);
}

hr {
  height: 1px;
  width: 70px;
  background-color: rgb(240, 240, 240);
}

.contenedor-datos {
  padding: 20px;
}

.row1{
    
}