/*SLIDER*/

.img1contacto {
  max-height: 400px;
  overflow: hidden;
  width: 100vw;
}

.imagencontacto {
  width: 100vw;
  background-size: cover;
  background-position: center;
  align-items: center;
  z-index: 1;
}
 
/*ARTICLE 2*/
.seccion2contacto {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(233, 233, 233);
}


/*FORMULARIO DE CONTACTO*/
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;    
    font-size: 26px;
    font-style: normal;
    margin-top: 11px;
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: left;
}
.lineacontacto {
  height: 1px;
  width: 70px;
  background-color: rgb(240, 240, 240);
  float: left;
}

.contenedortituloyhr{
    padding-bottom: 50px;
    
}

/*TABLA*/


.campo1 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 560px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
  
}
.campo2 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 560px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
    
}
.campo3 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 100px ;
    width: 560px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;

}

.botonenviar{
    background-color: black;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    position: relative;
    letter-spacing: .02em;
    left: -580px;
    color: white;
    padding: 20px;
}

.row1{
    display: none;
}

/* DATOS DE CONTACTOS*/
.contenedorppal{
    margin-top: 20px;
}

.contenedordatos{
    
    padding-top: 3px;
}

.estilocontenedor{
    text-decoration: none;
    color: black;

}

/*Seccion 3*/

.seccion3{
    background-color: rgb(223, 223, 223);
}

/*Titulo seccion mapa*/
.contenedortitulo{
    padding-bottom: 30px;
}
.titulofindus{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;    
    font-size: 26px;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
}
.lineafindus {
  height: 1px;
  width: 70px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.maparesponsive{
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
}

.mapa{
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
}
/* MEDIA QUERY MOVILE */

@media screen and (max-width: 768px) {
    body{
        margin:0px;
        padding: 0px;
        background: #797979;
    }
    /*SLIDER*/

.img1contacto {
    max-height: 500px;
    overflow: hidden;
    width: 100vw;
  }
  
  .imagencontacto {
    width: 100vw;
    background-size: cover;
    background-position: center;
    align-items: center;
    z-index: 1;
  }
    .btn_span {
        position: absolute;
        top:0;
        width: 30px;
        height: 5px;
        background: #797979;
        transition: all .3s ease;
      }
      .seccion2contacto {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(233, 233, 233);
      }

      /*TABLA*/

.campo1 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 400px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
  
}
.campo2 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 400px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
    
}
.campo3 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 100px ;
    width: 400px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;

}

.botonenviar{
    background-color: black;
    font-family: inherit;
    font-size: 12px;
    line-height: inherit;
    position: relative;
    letter-spacing: .02em;
    left: -420px;
    color: white;
    padding: 10px;
}

/* DATOS DE CONTACTOS*/
.contenedor2contacto{
    padding-top: 90px;
    }
.contenedorppal{
    margin-top: 1px;
    
}

.contenedordatos{
    
    padding: 3px;
    margin: 0px;

}

.estilocontenedor{
    text-decoration: none;
    text-transform: lowercase;
    color: black;
    font-size: 16px;
    display: inline;
}


}
/* media query tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
   nav{
opacity: 0.8;
   }
    .btn_span {
        position: absolute;
        top:0;
        width: 30px;
        height: 5px;
        background: #797979;
        transition: all .3s ease;
      }
      .seccion2contacto {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(233, 233, 233);
      }
}

/*FORMULARIO DE CONTACTO*/
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;    
    font-size: 26px;
    font-style: normal;
    margin-top: 11px;
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: center;
}
.lineacontacto {
  height: 1px;
  width: 70px;
  background-color: rgb(240, 240, 240);
  float: none;
}

.contenedortituloyhr{
    padding-bottom: 50px;
    
}
  /*TABLA*/

  .formulario{
padding-left: 100px;
}
.campo1 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 650px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
  
}
.campo2 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 30px ;
    width: 650px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;
    
}
.campo3 {
    max-width: none;
    border: 2px solid #000000 ;
    height: 100px ;
    width: 650px;
    padding: 6px ;
    border-radius: 0 ;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: .02em;

}

.botonenviar{
    background-color: black;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
    position: relative;
    letter-spacing: .02em;
    left: -220px;
    color: white;
    padding: 10px;
}
/* DATOS DE CONTACTOS*/
.contenedor2contacto{
    padding-top: 10px;
    }
.contenedorppal{
    margin-top: 1px;
    
}

.contenedordatos{
    
    padding: 3px;
    margin: 0px;

}

.estilocontenedor{
    text-decoration: none;
    text-transform: lowercase;
    color: black;
    font-size: 16px;
    display: inline;
}
